<!-- Sidebar -->
<div class="flex-shrink p-3 bg-white">
      <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24">
                  <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-5 fw-semibold">XBus</span>
      </a>
      <ul class="list-unstyled ps-0">
            <li class="mb-1">
                  <a class="btn btn-toggle align-items-center rounded collapsed" href="{% url 'home' %}">Home</a>
            </li>
            <li class="mb-1">
                  <button class="btn btn-toggle align-items-center rounded collapsed"
                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse"
                        aria-expanded="false">
                        Reports
                  </button>
                  <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                              <li><a href="{% url 'reportTicket' %}" class="link-dark rounded">Tickets</a></li>
                              <li><a href="#" class="link-dark rounded">Stops</a></li>
                              <li><a href="#" class="link-dark rounded">Passengers</a></li>
                              <li><a href="{% url 'reportRoutes' %}" class="link-dark rounded">Routes</a>
                              </li>
                              <li><a href="#" class="link-dark rounded">Trips</a></li>
                              <li><a href="#" class="link-dark rounded">Region</a></li>
                        </ul>
                  </div>
            </li>
            <li class="mb-1">
                  <button class="btn btn-toggle align-items-center rounded collapsed"
                        data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                        Management
                  </button>
                  <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                              <li><a href="{% url 'managementRegions' %}"
                                          class="link-dark rounded">Region</a></li>
                              <li><a href="{% url 'managementRoutes' %}" class="link-dark rounded">Route</a>
                              </li>
                              <li><a href="{% url 'managementVehicles' %}"
                                          class="link-dark rounded">Vehicle</a></li>
                              <li><a href="{% url 'managementStops' %}" class="link-dark rounded">Stop</a>
                              </li>
                              <li><a href="{% url 'managementDrivers' %}"
                                          class="link-dark rounded">Driver</a></li>
                              <li><a href="{% url 'managementTrips' %}" class="link-dark rounded">Trip</a>
                              </li>
                        </ul>
                  </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                  <button class="btn btn-toggle align-items-center rounded collapsed"
                        data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                        Account
                  </button>
                  <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                              <li><a href="#" class="link-dark rounded">New...</a></li>
                              <li><a href="#" class="link-dark rounded">Profile</a></li>
                              <li><a href="#" class="link-dark rounded">Settings</a></li>
                              <li><a href="#" class="link-dark rounded">Sign out</a></li>
                        </ul>
                  </div>
            </li>
      </ul>
</div>
<!-- Sidebar -->