<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226777627112-gqoijllme0r98a4ru7odkkssd0ffjms8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226777627112-gqoijllme0r98a4ru7odkkssd0ffjms8</string>
	<key>API_KEY</key>
	<string>AIzaSyAi_1fr6GbFq22oQ5jNPeZQdmCnPsHMvvM</string>
	<key>GCM_SENDER_ID</key>
	<string>226777627112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driver</string>
	<key>PROJECT_ID</key>
	<string>xbus-f2b3b</string>
	<key>STORAGE_BUCKET</key>
	<string>xbus-f2b3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226777627112:ios:33bae33566c9cc0b890c5d</string>
</dict>
</plist>